@import url('https://fonts.googleapis.com/css2?family=Segoe+UI&display=swap');

*{
    box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
}

h1 img {
    width: 254px;
    height: 177px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 16px;
}

h4{
    font-size: 14px;
}



header {
    background-color:#AAFF83;
    height: auto;
}

footer {
    background-color:#AAFF83;
    height: auto;
    display: flex;
}

a:hover{
    font-size: 20px;
    transition: 2s;
}

button:hover {
    font-size: 20px;
    transition: 1s;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    border-bottom: solid #557F41 1px;
    gap: 2em;    
}

.header nav ul{
    display: flex;
    list-style: none;
    margin-left: 10em;
    gap: 2em;
}

li {
    font-size: 13px;
}

a{
    color:black;
}
nav a{
    margin: 5px;
    text-decoration: none; 
}

nav a:hover {
    text-decoration: underline;
}

ul >li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.itens-geral{
    height: 48px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.itens-geral ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-around;   
}

.itens-geral button{
    background-color: transparent;
    border: transparent;
}
  
.itens-geral button {
    position: relative;
}
  
.itens-geral button::after {
    content: attr(title);
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgb(255, 255, 255);
    color: #black;
    padding: 10px;
    border-radius: 5px;
    font-weight:500;
    border:solid #557F41 1px;
}
  
.itens-geral button:hover::after {
    display: block;
}

button > title{
    color: black;
}

#busque {
	padding: 1em;
    padding-right: 90%;
    border-radius: 8px;
    border: none;
    background: url(./img/lupa.svg) no-repeat right;
    background-color: white;
}

.container{
    width: 70%;
    margin: 2em auto;
}

.container > h2 {
    margin: 1em;
    font-weight: 400;
    margin-bottom: 1em;
}

.destaques-fotos-informacoes{
    border: solid #578940 1px;
    border-radius: 8px;
    height: 50vh;
    width: 70%;
    margin: 0 auto;
}

.destaques-fotos{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    height: 36.8vh;
}

.vetor {    
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: transparent;
    background-color: transparent;
}

.vetor > img  {
    width: 80%;
}

.destaques-fotos > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 2px;
    height: 50vh;
    width: 60%;
}

.img-destaques {
    width: 90%;
    height: auto;
}

.destaques-informacoes{
    background-color:#AAFF83;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 13vh;
    border-radius: 0px 0px 8px 8px;
    box-shadow: 0px -1px 2px 0px gray;
}

.destaques-info-esquerda{
    display: flex;
}

.precos h2{
    margin-bottom: 0.5em;
    font-weight: 500;
}

.precos h3{
    margin-bottom: 0.5em;
}

.precos h3{ 
    text-decoration: line-through;
}

.preco-promocional{
    display: flex;

}

.preco-promocional h3{
    margin: auto;
}

.preco-promocional h2:first-child{
    font-weight: 500;
}

.preco-promocional h2:last-child{
    color: #236604;
    font-weight: bold;
    font-size: 22px;
}

.destaques-info-direita{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.destaques-info-direita :first-child{
    margin-bottom: 1em;
    border-radius: 5px;
    height: 2em;
    width: 9em;
    color: white;
    background-color: #1F6200;
    font-weight: bold;
    border: transparent;
    font-size: 20px;
}

.destaques-info-direita :last-child{
    border-radius: 5px;
    height: 1.7em;
    width: 11em;
    background-color: transparent;
    border: 1px solid;
    font-size: 20px;
}

.linha-horizontal {
    width: 75%;
    height: 1px;
    background-color: black;
    margin: 2em auto;
}

.titulo {
    margin: 1em;
    display: flex;
    justify-content: space-between;
    font-weight: 400;

}

.titulo a{
    border: transparent;
    font-size: 20px;
    color:#1F6200;
    text-decoration: none;
}

.produtos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
}

.produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    text-align: center;
    margin-bottom: 1em;
}

.produto > img{
    width: 280px;
    height: 300px;
}

.produto h3:nth-of-type(2){
    text-decoration: line-through;
}

.produto h3:nth-of-type(3){
    color:#1F6200;
}

strong {
    font-weight: bold;
}

.espaco{
    margin: 4em;
}

.footer{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 60%;
    margin: 0 auto;
    justify-content: space-around;
    
}

.footer nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: auto;
    text-align: center;
}

.localizacao{
    display: flex;
    align-items: center;
    gap: 1em;
}



