@media (max-width: 768px) {
    

    .header{
        flex-direction: column;
        height: auto;
        width: 100%;
        margin-bottom: 1em;
    }

    .itens-geral ul{
        margin: 0 auto;
        width: 80%;
        flex-direction: row;
        height: auto;
        flex-wrap: wrap;
        justify-content: space-around;
        font-size: 13px;
    }

    .header nav ul{
        margin: 0;
    }

    #busque{
        padding-right: 0%;
    }

    .container{
        width: 98%;
        height: auto;
    }

    .container > h2{
        text-align: center;
    }
    
    h2 { 
        font-size: 18px;
    }
    
    h3{
        font-size: 10px;
    }
    
    h4{
        font-size: 8px;
    }

    .preco-promocional h2:last-child{
        font-size: 18px;
    }

    .destaques-info-direita :first-child{
        font-size: 16px;
    }

    .destaques-info-direita :last-child{
        font-size: 16px;
    }

    .destaques-informacoes {
        height: 12.9vh;
    }

    .linha-horizontal{
        width: 98%;
    }

    .produto > img{
        margin-top: 1em;
        width: 80%;
    }

    .footer{
        flex-wrap: wrap;
        width: 100%;
    }

    .footer nav ul{
        margin: 0 auto;
        width: 50%;
        flex-wrap: wrap;
        margin-bottom: 1em;
    }

    .local h3{
        font-size: 13px;
    }
}

@media (max-width: 500px) {
    .destaques-fotos > img {
        width: 100%;
    }

    .destaques-informacoes{
        flex-direction: column;
        text-align: center;
        height: auto;
        gap: 1em;
        padding: 1em;
        width: 100%;
    }

    .destaques-fotos-informacoes{
        height: auto ;
        width: 100%;
    }

    .container{
        width: 300px;
    }

    .header nav ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        width: 250px;
        justify-content: center;
    }
    .header nav li{
        width: 85px;
    }

    .footer{
        flex-direction: column;
    }

    .footer nav ul{
        flex-direction: column;
    }

}
