header {
    background-color:var(--verde-claro);
    height: auto;
}

.cabecalho {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    border-bottom: solid #557F41 1px;
    gap: 2em;    
}

.cabecalho nav ul{
    display: flex;
    list-style: none;
    margin-left: 10em;
    gap: 2em;
}

.itens-geral{
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.itens-geral ul {
    display: flex;
    list-style: none;
    flex-wrap: wrap; 
    justify-content: space-around;
    max-width: 1000px;
    width: 60vw;
}

.itens-geral button{
    background-color: transparent;
    border: transparent;
}
  
.itens-geral button {
    position: relative;
}
  
.itens-geral button::after {
    content: attr(title);
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgb(255, 255, 255);
    color: #black;
    padding: 10px;
    border-radius: 5px;
    font-weight:500;
    border:solid #557F41 1px;
}
  
.itens-geral button:hover::after {
    display: block;
}

button > title{
    color: black;
}



#busque {
	padding: 1em;
    padding-right: 90%;
    border-radius: 8px;
    border: none;
    background: url(./src/img/lupa.svg) no-repeat right;
    background-color: white;
}

@media (max-width: 1100px) {
    
    .cabecalho{
        flex-direction: column;
        height: auto;
        width: 100%;
    }    

    .busque-no-armazem{
        display: flex;
        justify-content: center;   
    }


    .itens-geral ul{
        margin: 0 auto;
        width: 80%;
        flex-direction: row;
        height: auto;
        flex-wrap: wrap;
        justify-content: space-around;
        font-size: 13px;
    }

    .cabecalho nav ul{
        margin: 0;
    }
    
}

@media (max-width: 768px) {

    .itens-geral{
        height: auto;
        padding-bottom: 1em;
        padding-top: 1em;
    }

    .itens-geral ul {
        width: 90vw;
        
    }

    #busque{
        padding-right: 0%;
    }
}

@media (max-width: 500px) {

    .itens-geral ul {
        width: 70vw;
    }

    .cabecalho nav ul{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        width: 250px;
        justify-content: center;
    }
    .cabecalho nav li{
        width: 85px;
    }
}
