.footer{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 500px;
    height: auto;
    text-align: center;
}

.localizacao{
    display: flex;
    align-items: center;
    gap: 1em;
    min-width: 226px;
}

@media (max-width: 1400px) {
    .footer nav ul{
        width: 300px;
    }    
}

@media (max-width: 1100px) {
    .footer{
        width: 100%;
    }

    .footer nav ul{

        align-items: stretch;
    }
}

@media (max-width: 800px) {
    .footer{
        flex-direction: column;
        gap: 1em;
    }

    .rodape{
        width: 100%;
    }
    
}