@import url('https://fonts.googleapis.com/css2?family=Segoe+UI&display=swap');

*{
    box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
}

h1 img {
    width: 254px;
    height: 177px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 16px;
}

h4{
    font-size: 14px;
}

footer {
    background-color:#AAFF83;
    height: auto;
    display: flex;
}

a:hover{
    font-size: 20px;
    transition: 1s;
}

button:hover {
    font-size: 20px;
    transition: 1s;
}

li {
    font-size: 13px;
}

a{
    color:black;
}

nav a{
    margin: 5px;
    text-decoration: none; 
}

nav a:hover {
    text-decoration: underline;
}

ul >li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

strong {
    font-weight: bold;
}

.linha-horizontal {
    width: 80%;
    max-width: 1300px;
    height: 1px;
    background-color: black;
    margin: 2em auto;
}

.titulo {
    margin: 1em;
    display: flex;
    justify-content: space-between;
    font-weight: 400;

}

.titulo a{
    border: transparent;
    font-size: 20px;
    color:#1F6200;
    text-decoration: none;
}
.container{
    width: 70%;
    margin: 2em auto;
}

.container > h2 {
    margin: 1em;
    font-weight: 400;
    margin-bottom: 1em;
}

.espaco{
    margin: 4em;
}





