@media (max-width: 768px) {
    .container{
        width: 98%;
        height: auto;
    }

    .container > h2{
        text-align: center;
    }
    
    h2 { 
        font-size: 18px;
    }
    
    h3{
        font-size: 10px;
    }
    
    h4{
        font-size: 8px;
    }

    .linha-horizontal{
        width: 80%;
    }

    .footer{
        flex-wrap: wrap;
        width: 100%;
    }

    .footer nav ul{
        margin: 0 auto;
        width: 50%;
        flex-wrap: wrap;
        margin-bottom: 1em;
    }

    .local h3{
        font-size: 13px;
    }
}

@media (max-width: 500px) {

    .container{
        width: 300px;
    }

    .footer{
        flex-direction: column;
    }

    .footer nav ul{
        flex-direction: column;
    }

}
